.formulario{
    outline: none;
}

.dados-pessoais legend,
.assunto legend,
.mensagem legend {
    font-weight: bold;
    display: block;
}

.dados-pessoais input{
    font-size: 0.8em;
    line-height: 1.5;
    height: 2em;
    padding: 0 0.5em;
    box-sizing: border-box;
}


.mensagem{
    margin-top: 25px;
}
 

 .mensagem textarea{
    width: 100%;
    border: solid 0.01em #aaa;
    display: block;
    
}


#nome:focus,
#email:focus,
.mensagem textarea:focus{
    background-color: #fffba6;
    outline: none;

}
.botao-enviar{
    border: none;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: capitalize;
    width: 25%;
    font-size: 1.2em;
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 0.5em 1em;
    display: block;
    margin-left: auto;
    margin-top: 1em;
    
}

button:hover,
button:focus { 
    background-color: #8C1D3D;
}

input:invalid:focus {
    box-shadow: 0 0 3px red;
}
input:valid:focus{
    box-shadow: 0 0 3px green;

}

/* personagem no input */
.icon-nome::after{
    content: "" ;
    background-image: url(../imagens/usuario.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 1.6em;
    height: 1.7em;
    background-color: #3C1D3D;
    position: absolute;
    top: 104%;
    left: 0;

}
.icon-email::after{
    content: "";
    background-image: url(../imagens/email.png);
    background-color: #3C1D3D;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    top: 100%;
    left: 0;
}
.icon-nome{
    position: relative;
}

.icon-email{
    display: block;
    position: relative;

}



.icon-nome + input, .icon-email + input{
    width: calc(100% - 1.6em);
    position: relative;
    left: 33px;
    display: block;
}


