body {
  font-family: "Crimson Text", Times, serif;
  background-color: #f2fffc;
  font-size: 120%;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1,
h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2 {
  font-size: 30px;
}

main h1 {
  font-size: 60px;
  background-color: #851944;
  color: #fff;
  text-align: center;
  padding: 25px;
  border-bottom: 10px solid #000;
  text-transform: uppercase;
}

main div {
  margin: 0 auto;
  width: 720px;
  padding: 20px 0px;
}

main a {
  color: #851944;
}

p {
  text-align: justify;
  margin: 20px 0px;
}

blockquote {
  background-color: #d9e5e3;
  padding: 20px;
  border: 10px solid #c2ccca;
  width: 250px;
  box-sizing: border-box;
  margin: 20px 40px;
}

.block-Fiat {
  float: right;
}

.block-Petobras {
  float: left;
}

.navegacao-site {
  background-color: #3c1d3d;
  color: #f2fffc;
  padding: 20px;
  text-align: center;
}

aside h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

aside ul {
  list-style-type: none;
}

.icones-sociais li {
  display: inline-block;
}

aside a {
  font-family: "Open Sans Condensed";
  color: inherit;
}

.rodape {
  background-color: #000;
  color: #f2fffc;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;

}


.estilos-navegacao_link {
  text-transform: lowercase;
}

.icones-sociais a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -9999px; /*lembrar de adicionar o indent negativo/*
  /* font-size: 0px;
 color: transparent; */
}

.icone-github a {
  background-image: url(../img/github.png);
}

.icone-twitter a {
  background-image: url(../img/twitter.png);
}

.icone-linkedin a {
  background-image: url(../img/linkedin.png);
}

.clearFix {
  clear: both;
}


.navegacao-site {
  float: right;
  position: relative;
  top: 310px;
  width: 15%;
  box-sizing: border-box;

}

.imagem-joao {
  border-bottom: 10px solid #000;
  border-left: 10px solid #000;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: 0px;
}

.navegacao-site {
  border-bottom: 10px solid #000;
  border-left: 10px solid #000;
}

main {
  float: left;
  width: 85%;
  padding-bottom: 80px;
}

cite {
  float: right;
  font-style: italic;
}


.figuras{
  border: 8px solid black;
  background-color: #FAFFFC;
  padding: 16px;
  margin: 16px;
  width: 320px;
  box-sizing: border-box;

}

.figuras img{
  box-sizing: inherit;
  width: 100%;
}


.figuras_caption{
  text-align: left;
}

.direito{
  float: right;
}

.esquerdo{
  float: left;
}

